.body {
    background-color: #f6f6f6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    @apply flex justify-center items-center;
    height: 100px;
  
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    color: #ff710b;
}