.side-panel-title {
  @apply flex justify-center items-center mb-4;
  height: 100px;

  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  color: #ff710b;
}

.side-panel-buttons {
  @apply flex flex-col gap-8;
  font-size: 30px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;

  button {
    @apply justify-center;
    border-radius: 94px;

    &:hover {
      border-radius: 94px;
      background-color: #feb077;
      color: white;
    }

    &:active {
      background-color: #ff710b !important;
      color: white !important;
    }
  }
}
